<div class="form">
	<div class="fields">
		<%= form_with(model: @post, local: true) do |form| %>
			<div class="field">
			  <%= form.label :title %> 產品名稱
			  <%= form.text_field :title %>
			</div>
			<div class="field">
			  <%= form.label :images %> 圖片
			  <%= form.file_field :images, multiple: true %>
			</div>
			<div class="field">
			  <%= form.label :content %> 內容
			  <%= form.text_area :content %>
			</div>
			<div class="actions">
				 <%= button_tag "提交", class: "btn btn-submit", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> 上傳中...".html_safe %>
				<%= link_to "取消", posts_path, class: "btn btn-cancel" %>
			</div>
		<% end %>
	</div>
</div>

