<div class="admin-tool">
	<% if current_user %>
		<% if current_user.admin == true %>
	  		<%= link_to edit_post_path(@post) do %>
	  			<i class="far fa-edit"></i>
	  		<% end %> 
			<%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
	  			<i class="far fa-trash-alt"></i>
	  		<% end %>
		<% end %>
	<% end %>
</div>
<div id="show">
	<div class="image_slider">
		<div class="image_container">
			<% if @post.images.count != 1 %>
				<div class="arrows">
					<span title="1" class="arrow"> < </span>
					<span title="0" class="arrow" style="float: right"> > </span>
				</div>
			<% end %>
			<ul class="ul_images">
				<% (0...@post.images.count).each do |image| %>
					<li class="li_image" ><%= image_tag(@post.medium(image)) %> </li>	 
				<% end %>
			</ul>
		</div>
		<% if @post.images.count != 1 %>
			<div class="image_btns">
				<% (0...@post.images.count).each do |image| %>
					<li class="image_btn"><%= image_tag(@post.small(image)) %> </li>	 
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="product_description">
		<div class="title">
			<h2><%= @post.title %></h2>
		</div>
		<div class="content">
			<p><%= @post.content %></p>	
		</div>
		<div class="control">
			<div class="favorite">
				<% if current_user %>
					<% if !@post.favorited_by.ids.include? current_user.id %>
						<%= link_to favorite_post_path(@post, type: "favorite"), method: :put, class:"btn btn_favorite" do %>
				        	<i class="far fa-heart"></i> Add
				        <% end %>
				    <% else %>
				        <%= link_to favorite_post_path(@post, type: "unfavorite"), method: :put, class:"btn btn_favorite" do %>
				            <i class="fas fa-heart"></i> Remove
				        <% end %>
				    <% end %>
				<% end %>
			</div>
			<div class="back">
				<%= link_to "- More -", posts_path, class:"btn btn_back"  %>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag('show.js') %>

