<!DOCTYPE html>
<html>
  <head>
    <title>Bonly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">      
  </head>
  <body>
    <nav class="navbar">
      <div class="lang">
        <a href="#" class="btn btn-lang" id="EN">EN |</a>
        <a href="#" class="btn btn-lang" id="CN">CN</a>  
      </div>

      <div class="control" data-no-turbolink>
        <% if user_signed_in? %>
          <% if current_user.admin == true %>
            <%= link_to new_post_path, class: "btn btn-control" do %>
              <i class="fas fa-folder-plus"></i>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to root_path, class: "btn btn-control" do %>
          <i class="fas fa-home"></i>
        <% end %>
        <%= link_to posts_path, class: "btn btn-control" do %>
            <i class="fas fa-shopping-cart"></i>
        <% end %>
        <%= link_to favorite_posts_path, class: "btn btn-control" do %>
            <i class="fas fa-heart"></i>
        <% end %>

        <div class="dropdown">
          <%= link_to '#' , class: "btn btn-control" do %>
            <i class="fas fa-user", class: "dropdown-btn"></i>
          <% end %>
          <div class="dropdown-content">
            <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %>
              <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
        </div>
        
      </div>  
    </nav>
    <div class="container">
      <%= yield %>
    </div>
   
    <footer>
      <p>©2018 B.Only</p>
    </footer>
  </body>
</html>
